@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'lato', sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #EEC0C6, #7EE8FA);
}

.inner-box{
    width: 350px;
    margin: 0 auto;
    padding: 20px 40px;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #5da2b6;
    z-index: 2;
}

.signup-header h1{
    font-size: 2.5rem;
    color: rgb(29, 29, 29);
}

.signup-header p{
    font-size: 1rem;
    color: rgb(50, 50, 50);
}

.signup-body{
    margin: 15px 0;
}

.signup-body p{
    margin: 7px 0;
}

.signup-body p label{
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    margin: 5px 0;
    padding: 5px 3px;
    font-size: 1.1rem;
    border: 2px solid #a7a7a7;
    border-radius: 5px;
}

#submit{
    border: 0px;
    color: white;
    background-color: #59cbdc;
    cursor: pointer;
}

#submit:hover{
    background-color: #2cc0d6;
}

.signup-footer{
    color: rgb(50, 50, 50);
    font-size: 1.1rem;
    text-align: center;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to bottom right, #dedede, #a4f2ff);
    position: absolute;
    z-index: 1;
}

.c1{
    top: 118px;
    left: 61px;
}

.c2{
    bottom: 173px;
    right: 51px;
}
